.block {
    background: red;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    display: flex;

}

.yellow-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.yellow {
    margin: 10px;
    background: yellow;
    width: 200px;
    height: 200px;

}

.yellow-1 {
    margin: 10px;
    background: yellow;
    width: 200px;
    height: 200px;

}

.grin {
    margin: 10px;
    background: green;
    height: 250px;
    width: 250px;
    align-self: center;
}

.scrol {
    background: blue;
    flex-grow: 1;
    overflow-y: scroll;
    
}

.purpur {
    flex: none;
    margin: 10px;
    background: purple;
    width: 200px;
    height: 200px;
}

.purpur:nth-child(2) {
    width: 150px;
    height: 300px;
}

.purpur:nth-child(3) {
    width: 180px;
    height: 450px;
}

.purpur:nth-child(4) {
    width: 100px;
    height: 100px;
}

.purpur:nth-child(5) {
    width: 80px;
    height: 1035px;
}

.purpur:nth-child(6) {
    width: 200px;
}